$white: #ffffff;
$midnightblue: #233670;
$darkblue: #002d9e;
$deepskyblue: #00a8ff;
$sandybrown: #F9B640;
$beige: #F4F9E2;
$mediumturquoise: #62D0DF;
$mistyrose: #ffe2de;
$darkkhaki: #c3e769;
$royalblue: #0052c1;
$lavender: #dfe1ff;
$darkviolet: #8f00ff;
$darkgray: #9f9f9f;

//$main-text-color: $midnightblue;
$main-text-color: $darkblue;
$alternative-text-color: $white;
$main-background: $beige;
$header-color: $beige;
$footer-color: $beige;
//$light-colored-block: $mistyrose;
//$light-colored-block: $beige;
$light-colored-block: $white;
$dark-colored-block: $lavender;
$hover-text-color: $darkviolet;
$marker-color: $royalblue;
$error-background-color: #ffe2de6b;
